 	<nav class="fh5co-nav" role="navigation">
		<div class="top-menu">
			<div class="container">
				<div class="row">
                                        <div class="col-xs-6">
						<div id="fh5co-logo">
						   <img src="images/logo.png" alt="ruiji" width="30" height="30" >
						   <a href="/">瑞极</a>
						</div>
					</div>
					<div class="col-xs-6 text-right menu-1">
                                              <ul>
							<li class="active"><a href="/">首页</a></li>
							<li class="has-dropdown">
								<a href="#">系统集成</a>
								<ul class="dropdown">
									<li><a href="shipin">视频监控系统</a></li>
									<li><a href="xinxi">信息显示系统</a></li>
									<li><a href="wangba">网吧管理系统</a></li>
									<li><a href="liansuo">连锁经营管理系统</a></li>
									<li><a href="wuye">物业管理系统</a></li>
									<li><a href="iot">物联网</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">3D打印</a>
								<ul class="dropdown">
									<li><a href="3Dprinter">3D打印机</a></li>
									<li><a href="printservice">3D打印服务</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">软件产品</a>
								<ul class="dropdown">
									<li><a href="webd">网站</a></li>
									<li><a href="appd">手机App</a></li>
								</ul>
							</li>
							<li class="has-dropdown">
								<a href="#">关于/联系我们</a>
								<ul class="dropdown">
									<li><a href="about">关于我们</a></li>
									<li><a href="contact">联系我们</a></li>
								</ul>
							</li>
							<!--li class="btn-cta"><a href="#"><span>登录</span></a></li>
							<li class="btn-cta"><a href="#"><span>注册</span></a></li-->
						</ul>
					</div>
				</div>
				
			</div>
		</div>
	</nav>
