<!DOCTYPE html>
<html>
  <head>
     <% include shared/head %>
  </head>
  <body>
	<div class="fh5co-loader"></div>
	
	<div id="page">

         <% include shared/navbar %>
         
                     <!-- Title, Breadcrumb Start-->
            <!--div class="breadcrumb-wrapper">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <h2 class="title">关于我们</h2>
                     </div>
                     <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6">
                        <div class="breadcrumbs pull-right">
                           <ul>
                              <li>你的位置:</li>
                              <li><a href="/">首页</a></li> 
                              <li><a href="#">关于/联系我们</a></li>
                              <li>关于我们</li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div-->
            
        <aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(images/about/about_bg_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>关于瑞极</h1>
									<h2>欢迎光临本公司网站，欲了解详情，<a href="#"  class="js-gosection" >请浏览！</a></h2>
									<p><a class="btn btn-primary btn-lg" href="contact">请联系我们</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>

		   	
		  	</ul>
	  	</div>
	</aside>

           <!-- Main Content start-->
            <div data-section="about" class="content">
               <div class="container">
                  <div class="row">
                     <div class="posts-block col-lg-8 col-md-8 col-sm-6 col-xs-12">
                        <article>
                           <h3 class="title">公司介绍</h3>
                           <div class="post-content">
                              <div class="img-content">
                                 <img src="images/about/team.jpg" alt="">
                              </div>
                              <p>
                                 广州市瑞极信息科技有限责任公司【Guangzhou Ruiji Technology Co.,Ltd.】简称“瑞极科技”，成立于2014年，是一家提供3D打印技术和信息化系统集成技术服务的企业，是致力于电子、计算机的软硬件技术的开发与应用，根据客户需求提供专业、优质的个性化系统解决方案，实现产品由开发、设计、生产和安装一条龙服务的供应商。

                              </p>
                              <br>
                              <p>
                                 致力于系统集成,互联网，物联网信息化互联，加快现代化的进程，从用户角度考虑，注重细节设计，务求达到最大效益。
                              </p>
                           </div>
                        </article>
                     </div>
                     <!-- Left Section End -->
                     <!-- Skill Section Start -->
                     <div class="skills col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <h3 class="title">我们的优点</h3>
                        <div class="progress">
                           <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">简洁的组织架构 85%</div>
                        </div>
                        <div class="progress">
                           <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">细心设计 65%</div>
                        </div>
                        <div class="progress">
                           <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;">务实 90%</div>
                        </div>
                        <div class="progress">
                           <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">技术 60%</div>
                        </div>
                        <div class="progress">
                           <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">市场判断力 75%</div>
                        </div>
                     </div>
                      <!-- Skill Section Start -->
                     <div class="clearfix"></div>
                  </div>
                </div>
            </div>
            
 
	<% include shared/footer %>
	
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	</div>
	
  </body>
</html> 
