<!DOCTYPE html>
<html>
  <head>
     <% include shared/head.ejs %>
  </head>
  <body>
	<div class="fh5co-loader"></div>
	
	<div id="page">

         <% include shared/navbar.ejs %>
         
        <aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(images/slider-bg-1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>系统集成</h1>
									<h2>系统集成 <a href="" target="_blank">服务</a></h2>
									<p><a class="btn btn-primary btn-lg" href="shipin">了解更多</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<li style="background-image: url(images/slider-bg-2.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>3D打印机</h1>
									<h2>3D打印机 <a href="" target="_blank">3D打印服务</a></h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="3Dprinter">了解更多</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>
		   	<!--li style="background-image: url(images/img_bg_3.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Defend Your Constitutional Right with Legal Help</h1>
									<h2>Free html5 templates Made by <a href="" target="_blank">freehtml5.co</a></h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="#">Make An Appointment</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li-->		   	
		  	</ul>
	  	</div>
	</aside>
	
	<div id="fh5co-practice" class="fh5co-bg-section">
            <div class="container">

			<div class="row">
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-home"></i>
						</span>
						<div class="desc">
							<h3><a href="shipin">系统集成</a></h3>
							<p>包括视频监控，停车场管理等。</p>
							<p><a class="btn btn-primary btn-md btn-learn" href="shipin">浏览详细</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-eye"></i>
						</span>
						<div class="desc">
							<h3><a href="3Dprinter">3D打印</a></h3>
							<p>我们提供3D打印机，3D打印服务。</p>
							<p><a class="btn btn-primary btn-md btn-learn" href="3Dprinter">浏览详细</a></p>
						</div>
					</div>
				</div>
				<div class="col-md-4 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-shopping-cart"></i>
						</span>
						<div class="desc">
							<h3><a href="webd">软件产品</a></h3>
							<p>包括网站设计，手机APP设计等。</p>
							<p><a class="btn btn-primary btn-md btn-learn" href="webd">浏览详细</a></p>
						</div>
					</div>
				</div>
			</div>
            </div>
	</div>
	
            
                        <!-- Latest Posts start --> 
            <div class="latest-posts">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 com-sm-12 col-xs-12">
                        <h3 class="title">公司动态</h3>
                     </div>
                     <div class="clearfix"></div>
                     <div class="blog-showcase col-lg-12 col-md-12 col-sm-12 col-xs-12 animate_afb d1">
                        <ul>
                           <li class="">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a class="post-item-link" href="images/printedthing/portfolio-5.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="images/printedthing/portfolio-5.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="#">Sep 11th, 2016</a></span>
                                 <h4><a href="#" class="title">3D打印机</a></h4>
                                 <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
                                 <a href="#">了解更多<i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                           <li>
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a class="post-item-link" href="images/printedthing/portfolio-6.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="images/printedthing/portfolio-6.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="#">Sep 11th, 2016</a></span>
                                 <h4><a href="#" class="title">视频监控</a></h4>
                                 <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
                                 <a href="#">了解更多<i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                           <li class="blog-first-el">
                              <div class="blog-showcase-thumb col-lg-4">
                                 <div class="post-body">
                                    <a class="post-item-link" href="images/printedthing/portfolio-7.jpg" data-rel="prettyPhoto"><span class="post-item-hover"></span><span class="fullscreen"><i class="icon-search"></i></span><img alt="" src="images/printedthing/portfolio-7.jpg"></a>
                                 </div>
                              </div>
                              <div class="blog-showcase-extra-info col-lg-4">
                                 <span><a href="#">Sep 11th, 2016</a></span>
                                 <h4><a href="#" class="title">3D打印样品</a></h4>
                                 <p>Mauris sed mauris bibendum est imperdiet porttitor tincidunt at lorem. Proin augue massa</p>
                                 <a href="#">了解更多<i class="icon-double-angle-right"></i></a>
                              </div>
                           </li>
                        </ul>
                        <div class="clearfix"></div>
                     </div>
                  </div>
                  <div class="divider"></div>
               </div>
            </div>
            <!-- Latest Posts End -->
            

	<% include shared/footer.ejs %>
	
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	</div>
	
  </body>
</html>
