 <!DOCTYPE html>
<html>
  <head>
     <% include ../../shared/head %>
  </head>
  <body>
	<div class="fh5co-loader"></div>
	
	<div id="page">

         <% include ../../shared/navbar %>
         
        <aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background: #727272;">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>物联网</h1>
									<h2>我们提供物联网系统集成服务， <a href="contact" >欢迎垂询！</a></h2>
									<p><a class="btn btn-primary btn-lg" href="contact">请联系我们</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li>

		   	
		  	</ul>
	  	</div>
	</aside>
	

	
	<% include ../../shared/footer %>
	
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	</div>
	
  </body>
</html>
  
 
