 <!DOCTYPE html>
<html>
  <head>
     <% include ../shared/head %>
  </head>
  <body>
	<div class="fh5co-loader"></div>
	
	<div id="page">

         <% include ../shared/navbar %>
         
        <aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
                    
			<!-- You may change the background color here. -->
		    <!--div class="item" style="background: #38569f;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Case Study Title</h1>
									<h2 class="fh5co-sub-lead to-animate">100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></h3>
									<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">View Case Study</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	<div class="iphone to-animate-2"><img src="images/iphone-1.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
					    </div>

		    		</div>
		    	</div>
		    </div-->
		 
			<ul class="slides">
		   	<li style="background: #727272;" >
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>3D打印机</h1>
									<h2>金属机身,专业加热平台,<a href="#" class="js-gosection" >了解更多</a></h2>
									<p><a class="btn btn-primary btn-lg " href="contact">联系我们</a></p>
			   				</div>
			   			</div>
			   			
		   			        <!--div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	    <div class="iphone to-animate-2"><img src="images/printer/printerp.png" alt=""></div>
					        </div-->
                                
			   		</div>
		   		</div>
		   	</li>
		   	<!--li style="background-image: url(images/img-bg-2.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="row">
			   			<div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>3D打印机</h1>
									<h2>3D打印机 <a href="" target="_blank">3D打印服务</a></h2>
									<p><a class="btn btn-primary btn-lg btn-learn" href="3Dprinter">了解更多</a></p>
			   				</div>
			   			</div>
			   		</div>
		   		</div>
		   	</li-->
		  	</ul>
	  	</div>
	</aside>

        <!-- Features -->
        <section class="page-card features" style="background: #7c7c72;" >
            <div data-section="features" class="container" >
              <div class="page-card-title" >
                <h2>产品特点</h2>
              </div>
              <ul class="page-card-list" >
		<li class="feature-item visible">
			<div class="feature-image ">
                            <img  src="images/printer/printer0.png" alt="Sample image">
			</div>
			<div class="feature-details">
				<!--h2 class="space-text">3D打印机<span class="text-muted">产品特点</span></h2-->
				<h3>操作简单，易于使用；超凡精度，快速成型；静音设计，运作稳定；坚固构造，质量保障；脱机打印，方便快捷。</h3>
			</div>
		</li>

		<li class="feature-item visible">
			<div class="feature-image">
				<img class="img-feature img-responsive" src="images/printer/printer1.png" alt="Sample image">
			</div>
			<div class="feature-details">
				<h2 class="space-text ">专业<span class="text-muted">的加热平台</span></h2>
				<h3>更好地适应ABS和PLA耗材打印，更快更节能。 </h3>				
			</div>
		</li>

		<li class="feature-item visible">
			<div class="feature-image">
				<img class="img-feature img-responsive" src="images/printer/printer2.png" alt="Sample image">
			</div>
			<div class="feature-details">
				<h2 class="space-text ">便携式<span class="text-muted">把手设计</span></h2>
				<h3>独特个性化设计，机器携带更方便。</h3>
			</div>
		</li>
		
                <li class="feature-item visible">
			<div class="feature-image">
				<img class="img-feature img-responsive" src="images/printer/printer3.png" alt="Sample image">
			</div>
			<div class="feature-details">
				<h2 class="space-text ">高精<span class="text-muted">密滑轮</span></h2>
				<h3>选用高精密滑轮，具备耐磨性能，使用寿命更长。</h3>
			</div>
		</li>
		
                <li class="feature-item visible">
			<div class="feature-image">
				<img class="img-feature img-responsive" src="images/printer/printer4.png" alt="Sample image">
			</div>
			<div class="feature-details">
				<h2 class="space-text ">自平衡<span class="text-muted">设计</span></h2>
				<h3>配带金属传感器，机器平衡系统自动定位。</h3>
			</div>
		</li>
              </ul>
            </div> <!--cantainer-->
	</section>
	<!-- /Features -->
	
	
	<% include ../shared/footer %>
	
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	</div>
	
  </body>
</html>

