 <!DOCTYPE html>
<html>
  <head>
     <% include ../shared/head %>
  </head>
  <body>
	<div class="fh5co-loader"></div>
	
	<div id="page">

         <% include ../shared/navbar %>
         
        <aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
		   	<li style="background-image: url(images/img_bg_1.jpg);">
		   		<div class="overlay-gradient"></div>
		   		<div class="container slider-down">
		   			<div class="row">
			   			<!--div class="col-md-8 col-md-offset-2 text-center js-fullheight slider-text">
			   				<div class="slider-text-inner">
			   					<h1>Expert Legal Solutions</h1>
									<h2>Free html5 templates Made by <a href="http://freehtml5.co/" target="_blank">freehtml5.co</a></h2>
									<p><a class="btn btn-primary btn-lg" href="#">Make An Appointment</a></p>
			   				</div>
			   			</div-->
                                            <div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5 js-fullheight slider-text">
			    			<div class="fh5co-owl-text-wrap text-down">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">手机App</h1>
									<h2 class="fh5co-sub-lead to-animate">我们提供手机App制作服务，<a href="contact" target="_blank">欢迎垂询！</a></h3>
									<p class="to-animate-2"><a href="contact" class="btn btn-primary btn-lg">联系我们</a></p>
						    	</div>
                                                </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	<div class="iphone to-animate-2"><img src="images/iphone-2.png" alt=""></div>
					    </div>
					    
			   		</div>
		   		</div>
		   	</li>

		   	
		  	</ul>
	  	</div>
	</aside>
	<!--div id="slider" data-section="home">
		<div class="owl-carousel owl-carousel-fullwidth">	
	            <div class="item" style="background: #38569f;">
		    	<div class="container" style="position: relative;">
		    		<div class="row">
		    			<div class="col-md-7 col-md-push-1 col-md-push-5 col-sm-7 col-sm-push-1 col-sm-push-5">
			    			<div class="fh5co-owl-text-wrap">
						    	<div class="fh5co-owl-text">
						    		<h1 class="fh5co-lead to-animate">Case Study Title</h1>
									<h2 class="fh5co-sub-lead to-animate">100% Free Fully Responsive HTML5 Bootstrap Template. Crafted with love by the fine folks at <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a></h3>
									<p class="to-animate-2"><a href="#" class="btn btn-primary btn-lg">View Case Study</a></p>
						    	</div>
						    </div>
					    </div>
					    <div class="col-md-4 col-md-pull-7 col-sm-4 col-sm-pull-7 iphone-image">
					    	<div class="iphone to-animate-2"><img src="images/iphone-1.png" alt="Free HTML5 Template by FREEHTML5.co"></div>
					    </div>

		    		</div>
		    	</div>
		    </div>
		    
		</div>
	</div--> <!--slider-->
	
        <!--div id="rj-nomal" >
          <div class="container">
           <h1>appd</h1>
            <svg version="1.1" width="500" xmlns="http://www.w3.org/2000/svg" >
               <circle cx="100" cy="100" r="30" />
               <rect id="rect" x="100" y="100" width="200" height="200" />
            </svg>
        
          </div> <!container-->
        <!--/div-->
	
	<% include ../shared/footer %>
	
        <div class="gototop js-top">
            <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	</div>
	
  </body>
</html>
 
